{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true,
    "jquery": true
  },
  "extends": [
    "airbnb",
    "react-app",
    "plugin:jsx-a11y/recommended",
    "prettier",
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "no-unused-expressions": ["error", {
      "allowTernary": true
    }],
    "prettier/prettier": ["error"]
  }
}